/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
/config
/.classpath
/bin
/.settings

.settings/ccw.repl.cmdhistory.prefs

.obelisk

.obelisk_rm_token

.obelisk_rm_token_tmp

test.txt
